* {
  margin: 0;
  padding: 0;
}

footer {
  border-top: solid 1px white;
  width: 100%;
  clear: both;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #0f1014;
  color: white;
}

#area-cabecalho {
  padding: 15px; /* Espaçamento interno do conteúdo até a borda */
  text-align: center;
  border-bottom: solid 1px white;
}

#logo {
  padding: 10px;
  color: white;
}

#menu {
  padding: 10px;
}

#area-principal {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
  height: 410px;
}

#area-experiência {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
}

#postagens {
  width: 660px;
  float: left;
  min-height: 410px;
  display: flex;
}

.postagem {
  margin-bottom: 10px;
}

.postagem p{
  color: gray;
}

.conteudo-postagem {
  border: solid 1px white;
  margin: 20px;
  padding: 5px;
  width: 600px;
  float: left;
}

img{
  max-width: 100%;
  height: 250px;
}

#lateral {
  width: 240px;
  float: right;
}

.conteudo-lateral {
  background: #0f1014;
  color: black;
  padding: 2px;
  margin: 5px;
}

.conteudo-lateral h2 {
  background: #0f1014;
  color: white;
  padding: 5px;
  margin-bottom: 2px;
  border: solid 1px white;
}

.conteudo-lateral p {
  background: #0f1014;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.conteudo-lateral hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.postagem-lateral {
  font-size: 0.8em;
  background: #0f1014;
  color: white;
  margin-top: 5px;
  padding: 8px;
  border: solid 1px white;
}

.postagem-lateral img {
  text-decoration: none;
  background-color: white;
  border-radius: 1em;
  padding: 3px;
  margin-bottom: 3px;
  vertical-align: middle;
}

.postagem-lateral a{
  color: white;
  text-decoration: none;
}

#rodape{
  clear: both;
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 2.5em;
}

#area-cabecalho a:link, a:visited {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

#area-cabecalho a:hover {
  color: #0f1014;
  background-color: white;
  text-decoration: none;
}

p {
  text-align: justify;
}

#skills {
  width: 600px;
}

.artigo {
  width: 660px;
  min-height: 410px;
  padding: 6px;
  clear: both;
}

.artigo h1 {
  border: solid 1px white;
  margin-bottom: 5px;
  padding: 10px;
}

.artigo h5 {
  margin-bottom: 5px;
}

.conteudo-artigo {
  border: solid 1px white;
  padding: 10px;
  margin-bottom: 5px;
}

.conteudo-artigo li {
  white-space: normal;
}

ul {
  list-style: inside;
}